@model TrocaFigurinhas.Models.Persistence.Ofertas

@{
    ViewBag.Title = "Editar Oferta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TrocaFigurinhas.Models.Persistence.Album viewBagAlbum = ViewBag.Album;
}

<h2>Editar Oferta</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Ofertas</legend>
            <div id="divListaFigurinhasOfertadas">
                @Html.Partial("_FigurinhasAlbumPartial", viewBagAlbum, new ViewDataDictionary { { "Tipo", "FigurinhasOfertadas" }, { "Titulo", "Figurinhas Ofertadas" }, { "Oferta", Model } })
            </div>
            <br />
            <div id="divListaFigurinhasDesejadas">
                @Html.Partial("_FigurinhasAlbumPartial", viewBagAlbum, new ViewDataDictionary { { "Tipo", "FigurinhasDesejadas" }, { "Titulo", "Figurinhas Desejadas" }, { "Oferta", Model } })
            </div>
        <p>
            <input type="submit" value="Editar Oferta" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
