@model TrocaFigurinhas.Models.Persistence.Figurinha

<div id="@(ViewData["index"])" class="FigurinhaView" title="Detalhes da Figurinha">
    <div class="FigurinhaDetalheDiv"><img id="@("Foto" + ViewData["index"])" class="ImagemPequena zoom" src="@("../imagens/" + (Model.Imagem != null ? Model.Imagem.NomeArquivo : "SemFoto.jpg"))" alt="@Model.Nome" /></div>
    <div class="FigurinhaDetalheDiv">
        <div>
            <span class="textLabel">Código:</span>
            <span class="textData">@Model.Id</span>
       </div>
       <div>
            <span class="textLabel">Álbum:</span>
            <span class="textData">@Model.Album.Titulo</span>
       </div>
       <div>
            <span class="textLabel">Nome:</span>
            <span class="textData">@Model.Nome</span>
       </div>
       <div>
            <span class="textLabel">Apelido:</span>
            <span class="textData">@Model.Apelido</span>
       </div>
       <div>
            <span class="textLabel">Equipe:</span>
            <span class="textData">@Model.Equipe</span>
        </div>
    </div>
</div>